body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    padding: 100px;
}
.container {
    max-width: 300px;
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input, button {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
}
.result {
    margin-top: 10px;
}